* {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


.block {
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: solid 4px black;
    display: inline-block;
    margin: 5px;
}

#game .row {
    text-align: center;
}

.block.active {
    background-color: red;
}

.block.finish {
    background-color: blue;
}

.block.step {
    background-color: rgba(255, 0, 0, 0.2)
}

#arrows {
    position: fixed;
    bottom: 0;
    padding: 10px;
}

.arrow {
    display: inline-block;
    margin-right: 5px;
    font-size: 25px;
    font-weight: 700;
}

.arrow-left {
    color: red;
}

.arrow-right {
    color: blue;
}

.arrow-up {
    color: green;
}

.arrow-down {
    color: black;
}

